parameters:
  scanFiles:
    - .ide-helper.php
    - ../../oxid-esales/oxideshop-ce/source/bootstrap.php
    - ../../oxid-esales/oxideshop-ce/source/oxfunctions.php
    - ../../oxid-esales/oxideshop-ce/source/overridablefunctions.php
  paths:
    - Application
    - assets/out/fileman
  level: 6
  phpVersion: 80000
  ignoreErrors:
    - '#Constant FILES_ROOT not found.#'
    - '#Constant SESSION_PATH_KEY not found.#'
    - '#Constant FORBIDDEN_UPLOADS not found.#'
    - '#Constant ALLOWED_UPLOADS not found.#'
    - '#Constant BASE_PATH not found.#'
    - '#Constant DIRPERMISSIONS not found.#'
    - '#Constant FILEPERMISSIONS not found.#'
    - '#Constant MAX_IMAGE_HEIGHT not found.#'
    - '#Constant MAX_IMAGE_WIDTH not found.#'