<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         displayDetailsOnTestsThatTriggerDeprecations="false"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
         bootstrap="../../../source/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd">
  <coverage>
    <report>
      <html outputDirectory="coverage" lowUpperBound="50" highLowerBound="90"/>
    </report>
  </coverage>
  <testsuite name="unit">
    <directory>./Tests/Unit</directory>
  </testsuite>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">.</directory>
    </include>
    <exclude>
      <directory suffix=".php">Tests/</directory>
      <file>.php-cs-fixer.php</file>
      <file>.ide-helper.php</file>
    </exclude>
  </source>
  <php>
    <env name="XDEBUG_MODE" value="coverage"/>
  </php>
</phpunit>